/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.profile-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Cairo', sans-serif;
}

.profile-card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 300;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 18px;
    color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}

.link img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

.link span {
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}